@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0b1e16;
  --fg: #e6fbf4;
  --accent: #23c57a;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: 'Poppins', sans-serif;
}
